/*Caja 25*/

.bck-box.bck-box25 {
    border: 3px solid #FFCF01;
    background: #FFCF01;
    border-radius: 50%;
    margin-bottom: 30px;
    padding: 40px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Conv_OpenDyslexic-Regular',Sans-Serif;
}

.bck-box.bck-box25:before {
    content: '';
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    position: absolute;
    right: -19.2px;
    margin-top: 5px;
    padding: 25px;
    height: 0;
    background: url(images/pico_amarillo_entero_bocadillo.png);
    background-size: contain;
    background-repeat: no-repeat;
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}


/*Caja 26*/

.bck-box.bck-box26 {
    border: 3px solid #00AC81;
    background: #00AC81;
    border-radius: 50%;
    margin-bottom: 30px;
    padding: 40px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Conv_OpenDyslexic-Regular',Sans-Serif;
}

.bck-box.bck-box26:before {
    content: '';
    display: block;
    position: absolute;
    left: -28px;
    margin-top: 28.5px;
    padding: 30px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
    height: 0;
    background: url(images/pico_aguamarina_entero_bocadillo);
    background-size: contain;
    background-repeat: no-repeat;
}
